@media screen and (max-width: 480px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 60% 20%;
        grid-template-areas:
        'header'
        'main-content'
        'footer';
    }
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        'blog-1 blog-2'
        'blog-4 blog-3'
        'blog-5 blog-5';
    }
}