*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-items: center;
    gap: 20px;
}

.card{
    width: 250px;
    height: 250px;
    background-color: #2e5d98;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-rubik{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.font-sedgwick{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-dancing{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-fjalla{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-indie{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}