.content{
    margin-top: 3vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.article{
    width: 100%;
    background: rgba(245, 245, 245, 0.64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-date-title{
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.content hr{
    width: 95%;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.article-prev{
    font-family: Arial, sans-serif;
    padding: 20px 30px;
}

.article button{
    margin-bottom: 20px;
}