*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body>div{
    width: 1294px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 1294px;
    padding: 0 5px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 285px;
    top: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

ul li a{
    text-decoration: none;
    color: unset;
}

nav ul li{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
    text-transform: uppercase;
}

.top-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.slider{
    width: 100%;
    height: 550px;
    margin-bottom: 75px;
    background-color: #DCE5E2;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-info, .slider-img{
    width: 50%;
    height: 100%;
}

.slider-info{
    padding: 145px 0 0 56px;
}

.slider-info>h3{
    width: 588px;
    margin-bottom: 19px;
    color: #000;
    font-family: "Readex Pro", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 69.6px; /* 120% */
}

.slider-info p{
    width: 565px;
    height: 39px;
    flex-shrink: 0;
    margin-bottom: 44px;
}

.slider-info button{
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
    text-transform: capitalize;
    background-color: unset;
    border: 1px solid;
    border-radius: 30px;
    cursor: pointer;
}

.slider-pagination-items{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    position: absolute;
    bottom: 34px;
}

.rect{
    width: 194px;
    height: 2px;
    flex-shrink: 0;
    background: #000;
    cursor: pointer;
}

.rect:hover{
    background: white;
}

.slider svg{
    width: 14px;
    height: 26px;
    flex-shrink: 0;
    position: absolute;
    cursor: pointer;
}

.slider svg:first-of-type{
    left: 18px;
}

.slider svg:last-of-type{
    right: 18px;
}

body>div h2{
    width: 780px;
    margin-bottom: 9px;
    color: #000;
    text-align: center;
    font-family: "Readex Pro", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.5px; /* 125% */
}

body>div>p{
    width: 628px;
    color: #000;
    text-align: center;
    font-family: "Readex Pro", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}

.section-grid{
    width: 100%;
    height: 792px;
    margin: 56px 0 100px 0;
    display: grid;
    grid-template-columns: 639px 312px 312px;
    grid-template-rows: 472px 270px;
    grid-gap: 16px;
    grid-template-areas:
    'h-g-i-1 v-g-i-1 v-g-i-2'
    'h-g-i-2 v-g-i-1 v-g-i-2'
    ;
    position: relative;
}

.horizontal-grid-item-1, .horizontal-grid-item-2, .vertical-grid-item-1, .vertical-grid-item-2{
    box-shadow: -1px 0 10px 2px rgba(0,0,0,0.59);
    -webkit-box-shadow: -1px 0 10px 2px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 0 10px 2px rgba(0,0,0,0.59);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.horizontal-grid-item-1{
    grid-area: h-g-i-1;
    background-image: url("../images/grid-img-1.png");
    background-repeat: no-repeat;
    background-position: 42px top;
}

.horizontal-grid-item-2{
    grid-area: h-g-i-2;
    background-image: url("../images/grid-img-2.png");
    background-repeat: no-repeat;
    background-position: 42px 0;
}

.vertical-grid-item-1{
    grid-area: v-g-i-1;
    background-image: url("../images/grid-img-3.png");
    background-repeat: no-repeat;
    background-position: 16px 144px;
}

.vertical-grid-item-2{
    grid-area: v-g-i-2;
    background-image: url("../images/grid-img-4.png");
    background-repeat: no-repeat;
    background-position: center 252px;
}

.section-grid h4{
    color: #000;
    font-family: "Readex Pro", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px; /* 120% */
}

.section-grid p{
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 120% */
}

.horizontal-grid-item-1>p{
    margin-top: 375px;
    align-self: flex-end;
    text-align: right;
    margin-right: 42px;
}

.horizontal-grid-item-1>h4{
    width: 192px;
    margin-right: 42px;
    text-align: right;
    align-self: flex-end;
}

.horizontal-grid-item-2>p{
    margin: 87px 42px 0 0;
    text-align: right;
    align-self: flex-end;
}
.horizontal-grid-item-2>h4{
    margin-right: 42px;
    width: 128px;
    text-align: right;
    align-self: flex-end;
}

.vertical-grid-item-1>p{
    margin-top: 552px;
}

.vertical-grid-item-1>h4{
    width: 250px;
    text-align: center;
}

.vertical-grid-item-2>h4{
    width: 233px;
    text-align: center;
}

.vertical-grid-item-2>p{
    margin-top: 114px;
}

.shop{
    width: 100%;
    margin: 31px 0 74px 0;
    height: 368px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.shop .card img{
    width: 247px;
    height: 214px;
}

.shop .card h5{
    color: #000;
    font-family: "Readex Pro", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 125% */
}

.shop .card p{
    width: 261px;
    height: 51px;
    color: #4B4B4B;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}
.shop .card> .price{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
}

.best-items{
    margin: 56px 0 75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.best-items>.card{
    width: 413px;
    height: 453px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.best-items>.card button{
    width: 190px;
    height: 50px;
    flex-shrink: 0;
    margin: 30px 0;
    border: 1px solid;
    border-radius: 30px;
    background: none;
    cursor: pointer;
}

.best-items>.card span:last-of-type{
    color: #000;
    text-align: center;
    font-family: "Readex Pro", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 125% */
}

.best-items>.card span:first-of-type{
color: #000;
text-align: center;
font-family: "Readex Pro", sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16.8px; /* 129.231% */
}

.blog{
    width: 100%;
    margin: 56px 0 73px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.blog img{
    width: 620px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 16px;
}

.articles{
    width: 620px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
}

.articles> p{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

.blog-read-more-section a{
    display: flex;
    margin-bottom: 74px;
}

.blog-read-more-section p{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    text-transform: capitalize;
}

form{
    margin: 24px 0 18px 0;
    padding-left: 17px;
    width: 650px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #C5C5C5;
    background: #F8F9FA;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

form input[type="text"]{
    width: 560px;
    height: 50px;
    border: none;
    background-color: unset;
}
form input[type="text"]::placeholder{
    color: #000;
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}

form input[type="text"]:focus{
    outline: none;
}

.key-words{
    width: 535px;
    margin-bottom: 68px;
    display: flex;
   justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
}

.key-words>button{
    border-radius: 200px;
    border: 1px solid #C5C5C5;
    background: #FFF;
    padding: 12px 22px;
    cursor: pointer;
}

.subscribe-section{
    margin-bottom: 19px;
    width: 935px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #DCE5E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-section p{
    width: 549px;
    margin: 9px 0 14px 0;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 120% */
}

.subscribe-section form{
    width: 400px;
    height: 50px;
    display: flex;
    border-radius: 54px;
    border: 1px solid #000;
    background: #DCE5E2;
}

.subscribe-section form button{
    width: 115px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0px 200px 200px 0px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    padding-top: 49px;
    background: #F8F9FA;
    height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>div{
    width: 1294px;
    height: 206px;
    padding: 0 73px;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 28px;

}

.footer-logo-section{
    width: 394px;
    height: 191px;
}

.footer-logo-section>p{
    width: 304px;
    margin-top: 18px;
}

footer>div>ul{
    list-style: none;
}

footer>div>ul>li{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 127.059% */
    margin-bottom: 14.72px;
}

footer>div>ul>li:first-child{
    color: #000;
    font-family: "Readex Pro", sans-serif;
    margin-bottom: 19px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 125% */
}

footer hr{
    width: 1350px;
    height: 1px;
    flex-shrink: 0;
    background: #DCE5E2;
}


.copy-rights{
    width: 1294px;
    height: 21px;
    margin: 53px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}