*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    height: 100vh;
    font-size: 20px;
}

.slide-1, .slide-2{
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
h2{
    margin-top: 10vh;
}

.slide-1{
    background-color: pink;
    color: black;
}

.slide-2{
    background-color: dimgray;
    color: white;
}

.text{
    margin-top: 8vh;
    width: 90%;
    text-align: center;
}