@media screen and (max-width: 480px){
    main{
        width: 95vw;
        flex-direction: column;
        align-items: center;
    }

    .content h3{
        font-size: 2em;
    }
    .content>ul li{
        font-size: 1.123em;
    }

    .you-tube-video, .content{
        width: 100%;
    }
    .you-tube-video{
        display: flex;
        justify-content: center;
    }

    .you-tube-video iframe{
        width: 100%;
        height: 250px;
    }
}