@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.grid{
    margin: 64px auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.grid>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.card{
    width: 372px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card>h3{
    width: 85%;
    color: #000;
    text-align: center;

    /* Text/1 strong */
    font-size: 1.125em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.card>p{
    width: 85%;
    margin-top: -5px;
    color: #3C3C43;
    text-align: center;

    /* Capital/1 strong */
    font-size: 0.8125em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}